html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

#window .cell-container {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


#window .cell-container .cell {
    border: 1px #333 solid;
    margin: 0;
}

#window .cell-container .cell canvas {
    max-width: 100%;
    max-height: 100%;
}


.cell-container li {
    display: block;
    width: 20%; /* (100/5) */
    float: left;
    border: 1px solid black;
    list-style-position: inside;
}



#window .cell-container .cell.parent {
    border: 1px solid #dadada;
    border-radius: 7px;
    box-shadow: 0 0 10px #9ecaed;
}

#window .cell-container .cell:hover {

    background-color: #414042;
    box-shadow: 0 0 3px #9ecaed;
    cursor: pointer;
}