* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #222222;
    font-family: "Lato", sans-serif;
}

#window {
    position: absolute;
    width: 780px;
    height: 470px;
    /*width:  50%;*/
    /*height: 50%;*/
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 20px;
    /*display: flex;*/
    /*flex-direction: row;*/
    /*flex-flow: wrap;*/
}

#window .cell {
    border: 1px #333 solid;
    float: left;
    width: 150px;
    height: 150px;

    /*background-color: #20213f;*/

    /*background-color: #231F20;*/

}

@media screen and (max-width: 1250px) {
    /*#window{*/
        /*width: 40%;*/
        /*!*margin-left: 50px;*!*/
    /*}*/
}

@media screen and (max-width: 750px) {
    #window{

        /*width: 40%;*/
        padding: 20px;
        margin:  auto;

    }


    #window .cell {

        /*float: none;*/
        /*width: 90%;*/
        /*margin: 40px auto;*/
        /*display: flex;*/
        /*flex-flow: row;*/
    }

}


#myNav{
    width: 100%;

}

#window .cell.parent {
    border: 1px solid #dadada;
    border-radius: 7px;
    box-shadow: 0 0 10px #9ecaed;
}

#window .cell:hover {

    background-color: #414042;
    /*background-color: #F2F8FD;*/
    box-shadow: 0 0 3px #9ecaed;
    cursor: pointer;
}
